// app global css in SCSS form
.bg-javeriana{
  background: #2C5697;
  color: white;
}

.bg-subs{
  background: #3282B8;
  color: white;
}
.bg-subs{
  background: #3282B8;
  color: white;
}
.bg-subs-white{
  color: black;
  border-radius: 15px;
}
.item-bordered{
  border-radius: 15px;
}
.advance-btn{
  background: #2C5697;
  color: white;
}
.revert-btn{
  background: white;
  color: red;
}
.responsive-table-btn{
  background: white;
  color: #2C5697;
}

.q-tab__label{
  font-size: 2vh;
  font-weight: bold;
}
